# igonore files of type: 
*.pyc
*.pro
*.pro.user

# ignore the following folders: 
.vscode/
build-sokoban_solver-Desktop-Debug/
build-sokoban_solver-Desktop-Release/
build-sokoban_solver-Desktop_Qt_5_9_9_clang_64bit-Debug/
build-sokoban_solver-Desktop-Debug/
.DS_Store